<RuleSet Name="Rules for DroidSolutions Auth claim binder project" Description="Stylecop rules for DroidSolutions Auth claim binder project" ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None"/>
    <Rule Id="SA1309" Action="None"/>
    <Rule Id="SA1502" Action="None"/>
    <Rule Id="SA1633" Action="None"/>
  </Rules>
</RuleSet>